<div class="banner_home">
  <div class="home-video-wrapper">
    <!-- <video loop muted autoplay preload="auto">
      <source src="video.mp4"  type="video/mp4">
    </video> -->
    <h1 class="home">Welcome to the Football Bay!</h1>
    <%= video_tag "video.mp4", loop: :loop, muted: :muted, autoplay: :autoplay, width: '100%' , class: "home_video" %>
  </div>
  <div class="container">
    <div class="form-search">
      <%= form_tag matches_path, method: :get do %>
        <%= text_field_tag :by_address,
          params[:by_address],
          class: "form-control",
          placeholder: "Postcode or City"
        %>
        <%= text_field_tag :radius,
          params[:radius],
          class: "form-control",
          placeholder: "Radius"
        %>
        <%= submit_tag "Search", class: "button button-match" %>
      <% end %>
      <p>
        <a href="#instruction" class="btn button button-match btn-lg list-inline">Find out about us</a>
      </p>
    </div>
  </div>
</div>
  <section id="instruction">
    <div><h1>ABOUT US</h1>
      <p>
        Welcome to Football bay. Have you just recently moved area,
        city or even country? if the answer to any of those questions was yes
        and you are looking for a game to play then look no further.
        Follow the simple steps below if you are looking to play a game of football,
        competitive or otherwise.
      </p>
      <p>1. Find a game</p>
      <p>2. Book a game</p>
      <p>3. Play a game</p>      
    </div>
  </section>
  <h2 style="text-align: center">Recently added games</h2>
  <div class="cards_home">
    <% @matches_last.each do |match| %>
    <div class="cardss">
      <div class="card_top">
        <% if match.venue.photo.attached? %>
          <%= cl_image_tag  match.venue.photo.key, :width=>150, :height=>100, :crop=>"fill" %>
        <% else %>
          <%= image_tag 'under_construction.jpg', width: "150px" %>
        <% end %>
      </div>
      <div class="card_body">
        <h3><%= match.title.capitalize %></h3>
        <p><%= match.venue.post_code %></p>
        <p><%= match.start_time.strftime(" %e %a %b  %l:%M %p") %></p>
        <%# <%= link_to 'Check it out', match_path(match), "button" %>
      </div>
    </div>
    <% end %>
  </div>

  <h2 style="text-align: center">Games starting soon</h2>
  <div class="cards_home">
    <% @matches_first.each do |match| %>
    <div class="cardss">
      <div class="card_top">
        <% if match.venue.photo.attached? %>
          <%= cl_image_tag  match.venue.photo.key, :width=>150, :height=>100, :crop=>"fill" %>
        <% else %>
          <%= image_tag 'under_construction.jpg', width: "150px" %>
        <% end %>
      </div>
      <div class="card_body">
        <h3><%= match.title.capitalize %></h3>
        <p><%= match.venue.post_code %></p>
        <p><%= match.start_time.strftime(" %e %a %b  %l:%M %p") %></p>
        <%# <%= link_to 'Check it out', match_path(match), "button" %>
      </div>
    </div>
    <% end %>
</div>
