<div>




  <div class="container title-match text-center">
    <h1 class="text-center">Available Football Venues</h1>
    <%= link_to 'Add a Venue', new_venue_path, class: "btn button button-match btn-lg list-inline" %>
  </div>

  <div class="my-container">
    <div class="cards">
      <% @venues.each do |venue| %>
        <%= link_to venue_path(venue) do %>
          <% if venue.photo.attached? %>
            <div class="newcard" style="background-image: url('<%= cl_image_path venue.photo.key, height: 300, width: 400, crop: :fill, gravity: :auto %>')">
          <% else %>
            <div class="newcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://static-cse.canva.com/blob/135830/under-construction-signage-on-laptop-keyboard-211122.jpg')">
          <% end %>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p style="color: white"> <%= venue.name %></p>
            <p style="color: white;">Cost per person : <%= humanized_money_with_symbol(venue.price) %></p>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="map"
        style="width: 600px; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_URL'] %>">
    </div>

    </div>
  </div>
</div>
