<div class="container mt-5">
  <div class="container-forms", style="padding-left: 24px">

    <%= simple_form_for(@venue) do |v| %>
      <h2 style="font-size: 48px">Venue Registration Form</h2>
      <%= v.input :name %>
      <%= v.input :address_line_1 %>
      <%= v.input :address_line_2 %>
      <%= v.input :city %>
      <%= v.input :price %>
      <%= v.input :post_code %>
      <%= v.input :surface, collection: ["Grass", "Hybrid", "Synthetic", "2G artificial grass", "3G artificial grass"] %>
      <%= v.input :floodlit %>
      <%= v.input :photo, as: :file %>
      <%= v.button :submit, class: "btn button button-match btn-lg list-inline", style: "width: -webkit-fill-available;" %>
    <% end %>
    <div class="container-forms-right">
      <%= image_tag('goalkeeper.svg', class: "img-form") %>
    </div>
  </div>

</div>
