<!--<div class="background-match">
  <div class="title-match">
    <h1>List of matches</h1>
  </div>

  <div class="content-match">
    
    <div class="matches-cards">
      <% @matches.each do |match| %>
      <% if match.venue.photo.attached? %>
        <div class="match-card" style="background-image: url('<%= cl_image_path match.venue.photo.key%>')">
          <% else %>
        <div class="match-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1567459169668-95d355371bda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')">
          <% end %>
          <img class="card-img-top" src="" alt="Card image">
          <h4 class="card-title"> <%= link_to match.title, match_path(match) %> <%=match.venue.city%> </h4>
          <p class="edit_match"><%= link_to 'edit match', edit_match_path(match) %></p>
          <p class="delete_match"><%= link_to 'delete match', match_path(match),  method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="title-match">
    <h1>Available Matches</h1>
  </div>
  <p class="button button-match"><%= link_to 'create a match', new_match_path %></p>
  
  <div class="cards_games">
    <% @matches.each do |match| %>
    <div class="cardss">
      <div class="card_top">
        <% if match.venue.photo.attached? %>
          <%= cl_image_tag  match.venue.photo.key, :width=>184, :height=>119, :crop=>"fill" %>
        <% else %>
          <%= image_tag 'under_construction.jpg', width: "179px" %>
        <% end %>
      </div>
      <div class="card_body">
        <h3><strong><%= match.title.capitalize %></strong></h3>
        <p> <strong>Postcode</strong> : <%= match.venue.post_code %></p>
        <p> <strong>Starts</strong> : <%= match.start_time.strftime(" %e %a %b  %l:%M %p") %></p>
        <%= link_to 'Check it out', match_path(match), class: "button small" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
