<div class="container">

  <h1>New Match</h1>

  <%= simple_form_for @match do |m| %>
  <%= m.input :title, placeholder: "Friendly game" %>
  <% if @venue %>
    <%= m.association :venue, selected: "#{@venue.id}" %>
  <% else %>
    <%= m.association :venue %>
  <% end %>
  <%= m.input :no_of_players, collection: ["10 Players", "14 Players", "22 Players"] %>
  <%= m.input :skill_level, as: :radio_buttons, collection: ["Just for fun", "Try Hard"] %>
  <%= m.input :start_time, as: :datetime, :minute_step => 15 %>
  <%= m.input :end_time, as: :datetime, :minute_step => 15 %>
  <%= m.input :mobile_number, placeholder: '+447123456789' %>
  <%= m.input :description %>
  <%= m.button :submit %>
  <% end %>

</div>
