<div class="container">

  <h1>New Match</h1>

  <%= simple_form_for [@venue, @match] do |m| %>
  <%= m.input :title %>
  <%= m.input :no_of_players %>
  <%= m.input :start_time %>
  <%= m.input :end_time %>
  <%= m.input :description %>
  <%= m.button :submit %>
  <% end %>

</div>
