<%# <%= link_to 'edit match', edit_match_path, class: "button" %>

<% if @match.venue.photo.attached? %>
  <div class="banner_matchshow" style="background-image: url('<%= cl_image_path @match.venue.photo.key %>');">
<% else %>
  <div class="banner_matchshow" style="background-image: url('https://static-cse.canva.com/blob/135830/under-construction-signage-on-laptop-keyboard-211122.jpg');">
<% end %>
  <h1><%= @match.venue.name %></h1>
</div>


<div class="container">
  <%= link_to 'Booking', match_bookings_path(@match), method: :post, class: "button"  %>
  <%= link_to 'back to matches', matches_path, class: "button" %>
  <% if @match.title != nil %>
    <h1><%= @match.title.capitalize %></h1>
  <% end %>


  <div class="newcard_matchshow">
    <p>Postcode <%= @match.venue.post_code %></p>
    <p>Match Start Time <%= @match.start_time %></p>
  </div>

  <h2>Description <%= @match.description %></h2>

  <h2>Number of players needed <%= @match.spots_left %>/<%= @match.no_of_players %> </h2>

  <h2>Scan the QR to Contact the Host</h2>
  <%= raw @qr.as_html %>


</div>

