<%# <%= link_to 'edit match', edit_match_path, class: "button" %>
<%# <%= link_to 'back to matches', matches_path, class: "button" %>

<div class="container">

  <div class="text-center">
    <% if @match.title != nil %>
      <h1><%= @match.title.capitalize %></h1>
    <% end %>
    <% if @match.spots_left > 0 %>
    <%= link_to 'Book Match', match_bookings_path(@match), method: :post, class: "button booking"  %>
    <% end %>
  </div>

  <div id="map-venueshow"
    style="100%; height: 300px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_URL'] %>">
  </div>

  <div class="d-flex justify-content-between mt-3 mb-5">
    <div>
      <h2>Match Details</h2>
      <h3>Players needed = <%= @match.spots_left %>/<%= @match.no_of_players%> <br>
      <% @match.spots_left.times do %>
        <%= image_tag('athlete.png', style:"height: 30px") %>
      <% end %>
      <% @match.spots_taken.times do %>
        <%= image_tag('athlete-negative.png', style:"height: 30px") %>
      <% end %>
      </h3>
      <h3>Match Start - <%= @match.start_time.strftime(" %e %a %b  %l:%M %p") %></h3>
      <h3>Skill level = <%= @match.skill_level %></h3>
      <p><%= @match.description %></p>

      <button id="show" class="button">Contact Host</button>
      <div class="qrcode d-none">
        <h2>Scan the QR to Contact the Host</h2>
        <%= raw @qr.as_html %>
      </div>
    </div>

    <div>
      <h2>Venue Details</h2>
      <h3><%= @match.venue.name %></h3>
      <h3>Address - <%= @match.venue.address_line_1 %></h3>
      <h3>Postcode - <%= @match.venue.post_code %></h3>
      <h3>Cost per hour per person <%= @match.venue.cost_per_hour %></h3>
      <h3>surface <%= @match.venue.surface %></h3>
      <h3>floodlit <%= @match.venue.floodlit %></h3>
    </div>
  </div>
</div>

  
  

